@model DataObjects.ProjectViewModel

@{
    IEnumerable<int> tools = ViewBag.Tools;
}
<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.StartDate))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @if (Model.EndDate != System.Data.SqlTypes.SqlDateTime.MinValue.Value)
            {
                @Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.EndDate))
            }
            else
            {
                @: Project In Progress.
            }

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectDescription)
        </dd>

        <dt>
            Checked Out Tools:
        </dt>

        <dd>
            @if (ViewBag.Tools == null)
            {
                @Html.Display("N/A")
            }
            else
            {
                <ul>
                    @foreach (var tool in ViewBag.Tools)
                    {
                        <li>
                            @tool @Html.ActionLink("Check In", "CheckIn", "Tools", new { tool, Model.ProjectID })
                        </li>
                    }
                </ul>
            }

        </dd>
    </dl>
</div>
@if (Model.EndDate != System.Data.SqlTypes.SqlDateTime.MinValue.Value)
{
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p> }
else
{
    <p>

        @Html.ActionLink("Check Out Tools", "Index", "Tools") |
        @Html.ActionLink("Back to List", "Index")
    </p>
}

