@model IEnumerable<DataObjects.ProjectViewModel>

@{
    ViewBag.Title = "MyProjects";


}

<h2>My Projects</h2>

<table class="table">
    @if (ViewBag.Message != null)
    {
        @: @ViewBag.Message
    }

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </th>
        <th></th>
    </tr>
    @if (Model == null)
    {

    }
    else
    {
        foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ProjectID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Paid)
    </td>
    <td>
        @{ var startDate = item.StartDate.ToShortDateString(); }
        
        @Html.DisplayFor(modelItem => startDate)
    </td>
    <td>
        @{ var endDate = item.EndDate.ToShortDateString(); }
        @if (item.EndDate == System.Data.SqlTypes.SqlDateTime.MinValue.Value)
        {
            @: Project in Progress.
        }
        else
        {
            @Html.DisplayFor(modelItem => endDate)
        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProjectName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProjectDescription)
    </td>
    <td>
        @if (item.EndDate != System.Data.SqlTypes.SqlDateTime.MinValue.Value)
        {
            @:Completed
        }
        else
        {
            @Html.ActionLink("Mark Complete", "FinishProject", new { ProjectID = item.ProjectID })
        }

    </td>
</tr>
        }
    }



</table>
